<body>
	<a href="/alta">
		<button clas="warning"> Alta </button>
	</a>

	<div class="container w-100 px-5 py-5 my-5">
		<h1> Personal </h1>
		<table class="table table-striped">

			<thead>
				<tr>
					<th scope="col"> ID Usuario </th>
					<th scope="col"> Nombre </th>
					<th scope="col"> Editar </th>
					<th scope="col"> Borrar </th>
				</tr>
			</thead>

			<tbody>
				{{#each per}}
				<tr>
					<td style="color: white;">{{idUser}}</td>
					<td style="color: white;">{{nombre}}</td>

					<td>
						<a href="/editar/{{idUser}}">
							<button type="button" class="btn btn-outline-primary me-2">
								Editar
							</button>
						</a>
					</td>
					<td>
						<a href="/elimina/{{idUser}}">
							<button type="button" class="btn btn-outline-danger me-2">
								Baja
							</button>
						</a>
					</td>
				</tr>
			</tbody>
			{{/each}}

		</table>
	</div>
</body>

</html>