<style>.card{ width: 400px; border:none; } .btr{
  border-top-right-radius: 5px !important; } .btl{ border-top-left-radius: 5px
  !important; } .btn-dark { color: #fff; background-color: #0d6efd;
  border-color: #0d6efd; } .btn-dark:hover { color: #fff; background-color:
  #0d6efd; border-color: #0d6efd; } .nav-pills{ display:table !important;
  width:100%; } .nav-pills .nav-link { border-radius: 0px; border-bottom: 1px
  solid #0d6efd40; } .nav-item{ display: table-cell; background: #0d6efd2e; }
  .form{ padding: 10px; height: 300px; } .form input{ margin-bottom: 12px;
  border-radius: 3px; } .form input:focus{ box-shadow: none; } .form button{
  margin-top: 20px; } .tab-content{ padding-bottom: 150px; }
</style>

<script src="/src/public/js/script"></script>

<div class="d-flex justify-content-center align-items-center mt-5">

  <div class="card">

    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
      <li class="nav-item text-center">
        <a
          class="nav-link active btl"
          id="pills-home-tab"
          data-toggle="pill"
          href="#pills-home"
          role="tab"
          aria-controls="pills-home"
          aria-selected="true"
        >Login</a>
      </li>
      <li class="nav-item text-center">
        <a
          class="nav-link btr"
          id="pills-profile-tab"
          data-toggle="pill"
          href="#pills-profile"
          role="tab"
          aria-controls="pills-profile"
          aria-selected="false"
        >Signup</a>
      </li>

    </ul>
    <div class="tab-content" id="pills-tabContent">
      <div
        class="tab-pane fade show active"
        id="pills-home"
        role="tabpanel"
        aria-labelledby="pills-home-tab"
      >
      <h3>Administrador</h3>

        <form class="form px-4 pt-5" action="/entrar" method="post">

          <input
          
            style="margin-top: 70px;"
            type="email"
            name="email"
            class="form-control"
            placeholder="Email"
            required
            minlength="5"
            maxlength="50"
          />

          <input
            type="password"
            name="password"
            class="form-control"
            placeholder="Password"
            minlength="8"
            maxlength="25"
            required
          />

          {{#if errors}}

            <p>{{errors}}</p>

          {{/if}}

          <button class="btn btn-dark btn-block">Login</button>

        </form>

      </div>
      <div
        class="tab-pane fade"
        id="pills-profile"
        role="tabpanel"
        aria-labelledby="pills-profile-tab"
      >

        <form class="form px-4" action="/registra" method="post" onsubmit="return validar ();">

          <input
            type="text"
            name="apPaterno"
            id="apPaterno"
            class="form-control"
            title="Pon tu apellido Paterno"
            placeholder="Apellido paterno"
            pattern="[A-Za-z]*"
            minlength="4"
            max="30"
          />

          <input
            type="text"
            name="apMaterno"
            id="apMaterno"
            class="form-control"
            title="pon tu apellido Materno"
            placeholder="Apellido materno"
            pattern="[A-Za-z]*"
            minlength="4"
            maxlength="40"
          />

          <input
            type="text"
            name="nombre"
            id="nombre"
            class="form-control"
            title="Pon tu nombre"
            placeholder="Nombre o nombres"
            pattern="[A-Za-z]*"
            minlength="3"
            maxlength="30"

          />
          <input
            class="form-control"
            name="fechaNacimiento"
            type="date"
            title="pon tu fecha de nacimiento"
            placeholder="Fecha"
            required
            min="1960-12-31"
            max="2010-12-31"
          />

          <input
            name="telefono"
            type="tel"
            id="tel"
            class="form-control"
            placeholder="Numero de telefono"
            title="Pon un numero de telefono con 10 digitos"
            minlength="10"
            maxlength="10"

          />

          <input
            type="email"
            name="email"
            id="email"
            class="form-control"
            title="Pon tu correo electronico"
            placeholder="Email"
          />

          <input
            type="password"
            name="password"
            id="password"
            class="form-control"
            title="Pon tu contraseña"
            placeholder="Password"
            minlength="8"
            maxlength="50"
          />


          {{#if error}}

            <p style="color: red;">{{error}}</p>

          {{/if}}
            <input type="submit">
          

        </form>

      </div>

    </div>

  </div>

</div>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js"
></script>
<script src="/js/validacion.js"></script>
